@use '../assets' as a;

footer {
	background-color: a.$grey;

	.main-footer {
		.footer-two {
			.logo img {
				height: 6rem;
			}
		}

		.footer-three ul {
			padding: 0;
		}
	}

	.secondary-footer {
		width: 100%;
	}

	@media only screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;

		.main-footer {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.footer-one,
			.footer-two,
			.footer-three {
				text-align: left;
				flex: 1;
			}

			.footer-two {
				flex: 1;
				display: flex;
				justify-content: center;
			}

			.footer-three {
				display: flex;
				justify-content: flex-end;
				text-align: left;
				flex: 1;
			}
		}

		.secondary-footer {
			width: 100%;
		}
	}
}
