@use '../assets' as a;

.navbar {
	background-color: a.$grey;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		//font-family: a.$Grotesk;
		font-size: 1.8rem;
		max-width: 140rem;
		margin: 0 auto;
		padding: 1rem 1.6rem 0.5rem;

		@media only screen and (min-width: 1400px) {
			padding: 1rem 0rem;
		}

		.logo img {
			height: 4rem;
		}
	}

	.is-active {
		top: 0;
		right: 0;
		transition-duration: 0.3s;
	}

	.hamburger {
		cursor: pointer;
		appearance: none;
		outline: none;
		z-index: 100;
	}

	.hamburger span {
		display: block;
		width: 3rem;
		height: 0.4rem;
		margin-bottom: 0.5rem;
		position: relative;
		border-radius: 0.6rem;
		transform-origin: 0 0;
		transition: 0.4s;
		background-color: black;
	}

	.hamburger.is-active span:nth-child(1) {
		transform: translate(0rem, -0.15rem) rotate(45deg);
		background-color: white;
	}

	.hamburger.is-active span:nth-child(2) {
		opacity: 0;
		transform: translate(1.5rem);
	}

	.hamburger.is-active span:nth-child(3) {
		transform: translate(-0.3rem, 0.2rem) rotate(-45deg);
		background-color: white;
	}

	.nav-menu {
		position: fixed;
		display: block;
		top: -150%;
		left: 0;
		width: 100%;
		z-index: 2;
		padding-top: 50%;
		transition: 1s;
		background-color: black;
		height: 100vh;
	}

	.nav-item {
		a {
			color: white;
			padding: 3rem;
			display: block;
		}
	}

	.active {
		top: 0;
	}

	// Desktop Navigation Changes
	@media only screen and (min-width: 768px) {
		.nav-menu {
			position: relative;
			padding-top: 0;
			display: flex;
			background: none;
			transition: 0s;
			height: auto;
		}

		.nav-item .nav-links {
			color: black;
			transition: color 0.3s;
			position: relative;

			.nav-item a {
				color: black;
				padding: 3rem 3rem 1rem 3rem;
			}

			&:hover {
			}
		}

		.hamburger {
			display: none;
			padding: 0;
		}

		.hamburger span {
			display: none;
		}
	}

	@media only screen and (min-width: 2000px) {
		.nav-item a {
			padding: 4rem;
			font-size: 1.8rem;
		}
	}
}
